/* Website */
html, body {
    background-color: #FAEEE7;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
}

/* NavBar */

.navbar-custom {
    background-color: #FAEEE7;
    top: 0;
    width: 100%;
    /*position: fixed;*/
    color: #594A4E;

}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    text-decoration: none;
    font-size: 15px;
}

.navbar-custom .navbar-nav {
    text-align: center;
    color: #FFC6C7;
}

.navbar-custom ul {
    position: relative;
}

.navbar-custom ul li {
    padding: 1px;
    text-align: center;
}

.navbar-custom .navbar-text {
    font-weight: bold;
    position: relative;
    color: #FFC6C7;
}

.navbar-custom .navbar-toggler {
    color: #FFC6C7;
}

/* Home Page */

.home-img {
    width: auto;
    height: auto;
    opacity: 0.8;

    background-color: #FAEEE7;
    position: relative;
    padding-bottom: 20px;
}

.home-img img {
    right: 10px;
}

.search-container {
    position: absolute;
    margin: 0 auto;
    width: auto;
    right: 10px;
    bottom: 40px;

}

.search-container input,
.search-container button{
    border: 3px solid #FFC6C7;
    border-radius: 10px;
    outline: 0;
    font-family: Source Sans Pro;
    background-color: white;
    color: #FFC6C7;
}

.search-container button i,
.navbar-custom .search-input .navbar-form button {
    color: #FFC6C7;
}

.mission {
    /*float: left;*/
    position: relative;
    padding: 20px;
    text-align: center;

}

.mission h2 {
    font-weight: bold;
    color: #867FF4;
}

.mission-text {
    position: relative;
    color: #B3AEF8;
}


/* Slideshow */
.services-slideshow {
    position: relative;
}

.services-slideshow h2 {
    padding: 20px
}

/* Slides */
.services {
    display: none;
    padding: 50px;
    text-align: center;
}

.services-slideshow .services h2 {
    color: #594A4E;
    font-weight: bold;
    text-align: center;
}

.services-slideshow .services p {
    color: #594A4E;
    text-align: center;
}

.services-slideshow {
    background-color: #FAEEE7;
    color: #594A4E;
    text-align: left;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #867FF4;
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

.illness-info {
    background-color: white;
    display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* About */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 720px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.container {
  padding: 0 16px;
    padding-bottom: 50px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #FFC6C7;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #FFC6C7;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
    background-color: #555;
}
/* Footer */

footer {
    background-color: #FFC6C7;
    text-align: center;
    color: white;
    position: fixed;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 5rem;
}
