/* Website */
html, body {
    background-color: #FAEEE7;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
}

/* NavBar */

.navbar-custom {
    background-color: #FAEEE7;
    top: 0;
    width: 100%;
    /*position: fixed;*/
    color: #594A4E;

}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    text-decoration: none;
    font-size: 15px;
}

.navbar-custom .navbar-nav {
    text-align: center;
    color: #FFC6C7;
}

.navbar-custom ul {
    position: relative;
}

.navbar-custom ul li {
    padding: 1px;
    text-align: center;
}

.navbar-custom .navbar-text {
    font-weight: bold;
    position: relative;
    color: #FFC6C7;
}

.navbar-custom .navbar-toggler {
    color: #FFC6C7;
}

/* Home Page */

.home-img {
    width: auto;
    height: auto;
    opacity: 0.8;

    background-color: #FAEEE7;
    position: relative;
    padding-bottom: 20px;
}

.home-img img {
    right: 10px;
}

.search-container {
    position: absolute;
    margin: 0 auto;
    width: auto;
    right: 10px;
    bottom: 40px;

}

.search-container input,
.search-container button{
    border: 3px solid #FFC6C7;
    border-radius: 10px;
    outline: 0;
    font-family: Source Sans Pro;
    background-color: white;
    color: #FFC6C7;
}

.search-container button i,
.navbar-custom .search-input .navbar-form button {
    color: #FFC6C7;
}

.mission {
    /*float: left;*/
    position: relative;
    padding: 20px;
    text-align: center;

}

.mission h2 {
    font-weight: bold;
    color: #867FF4;
}

.mission-text {
    position: relative;
    color: #B3AEF8;
}


/* Slideshow */
.services-slideshow {
    position: relative;
}

.services-slideshow h2 {
    padding: 20px
}

/* Slides */
.services {
    display: none;
    padding: 50px;
    text-align: center;
}

.services-slideshow .services h2 {
    color: #594A4E;
    font-weight: bold;
    text-align: center;
}

.services-slideshow .services p {
    color: #594A4E;
    text-align: center;
}

.services-slideshow {
    background-color: #FAEEE7;
    color: #594A4E;
    text-align: left;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #867FF4;
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

.illness-info {
    background-color: white;
    display: flex;
  flex-direction: column;
  min-height: 100%;
}
.instant-search {
  position: relative;
  max-width: 250px;
}

.instant-search,
.instant-search__input {
  font-family: sans-serif;
}

.instant-search,
.instant-search * {
  transition: background 0.15s, box-shadow 0.15s;
}

.instant-search:focus-within {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.instant-search--loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: #009578;
  border-radius: 5px;
  animation: searchIndicator 0.5s infinite ease-in-out;
}

@keyframes searchIndicator {
  0% {
    width: 15%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 15%;
  }
}

.instant-search,
.instant-search__input-container {
  border-radius: 5px;
}

.instant-search__input-container {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  background: #eeeeee;
}

.instant-search__input-container:focus-within {
  background: #ffffff;
}

.instant-search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 6px;
  background: transparent;
}

.instant-search__results-container {
  max-height: 250px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s;
}

.instant-search__results-container--visible {
  visibility: visible;
  opacity: 1;
}

.instant-search__result {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.instant-search__result:hover {
  background: #eeeeee;
}

.instant-search__result:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}

.instant-search__title {
  font-size: 1.1em;
  font-weight: bold;
}

.instant-search__paragraph {
  line-height: 1.5;
  margin: 8px 0;
}


/* Footer */

footer {
    background-color: #FFC6C7;
    text-align: center;
    color: white;
    position: fixed;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 5rem;
}
